<link rel="stylesheet" href="/css/users_sign-in.css">
<div id="sign-in-div">
<h2>sign-in</h2>

<form>
    <input type="email" name="email" placeholder="email-id" required>
    <input type="password" name="password" placeholder="Password" required>
    <button>submit</button>
</form>
</div>