<h2>Sign - up</h2>

<form>
    <input type="text" name="username" placeholder="UserName" required>
    <input type="email" name="email" placeholder="email-id" required>
    <input type="password" name="password" placeholder="New Password" required>
    <input type="password" name="password" placeholder="Confirm Password" required>
    <input type="submit">
</form>