<link rel="stylesheet" href="/css/users_sign-up.css">
<h2>Sign - up</h2>

<form id="user-signUp-form" action="/users/New_User" method="post">
    <input type="text" name="name" placeholder="UserName" required>
    <input type="email" name="email" placeholder="email-id" required>
    <input type="password" name="password" placeholder="New Password" required>
    <input type="password" name="password2" placeholder="Confirm Password" required>

    <button>submit</button>
</form>