#sign-in-div{
    border: 1px solid red;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: gray;
    height: 50%;
}
h2{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 50%;
    margin-left: 37.5%;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 255, 255, 0.5);
}

form input{
    border: 1px solid black;
    width: 102%;
    height: 30%;
    border-radius: 5px;
}

form button{
    background-color: rgb(218, 214, 214);
}